* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    padding: 20px;
    background-color: rgb(193, 213, 247);
    border-radius: 20px;
}

.display {
    grid-column: span 4; 
    background-color: #333;    
    color: white;
    border: 1px solid black;
    font-size: 2em;
    padding: 0.5em;
    text-align: right;
    border-radius: 10px;  
    border: 2px solid #444;

    overflow: hidden;    
    white-space: nowrap;    
    text-overflow: ellipsis; 
    height: 3em;
    padding: 0 1em;
}

.display p {
    color: #eee;
    line-height: 3em;
}

.btn {
    border: 1px solid #666;
    background-color: #eee;
    color: #333;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;    
    border: none;
}

.btn:hover {
    background-color: #ddd;
}

.btn.number {

}
.btn.operator {
    background-color: #f5a623;
    color: white;
}

.btn.operator:hover {
    background-color: #f49423;
}

.btn.equals {
    background-color: #f5a623;
    color: white;
    grid-column: span 2;
}

.btn.equals:hover {
    background-color: #f49423;
}

.btn.clear {
    background-color: #d9534f;
    color: white;
}

.btn.clear:hover {
    background-color: #c9302c;
}

.btn.backspace {
    background-color: #f5a623;
    color: white;
}

.btn.backspace:hover {
    background-color: #f49423;
}

.btn.sign {
    background-color: #eee;
    color: #333;
}

.btn.sign:hover {
    background-color: #ddd;
}

.btn.decimal {
    background-color: #eee;
    color: #333;
}

.btn.decimal:hover {
    background-color: #ddd;
}